absl-py==0.2.2
astor==0.7.1
bleach==3.3.0
cycler==0.10.0
gast==0.2.0
grpcio==1.13.0
h5py==2.8.0
html5lib==0.99999999
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==2.2.2
numpy==1.21.0
opencv-python==4.2.0.32
Pillow==9.0.1
progress==1.4
protobuf==3.15.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==5.4
scipy==1.1.0
six==1.11.0
termcolor==1.1.0
Werkzeug==0.15.3
